nose
pydot-ng
cython
requests
elasticsearch
h5py
dill
python-interface
pandas
traitlets
unittest2
nose
flask
docker
jupyter
urllib3
sklearn
pydevd
python-consul
matplotlib
scipy
statsd
locustio
Pillow
protobuf==3.4.0
bleach==1.5.0
tensorflow==1.4.0
tensorflow_serving_client==0.0.8